<div id="timing-list" class="flex flex-col">
    <div class="{{if (isNegative .totalTiming)}}text-red-600{{else}}text-green-600{{end}}">
        {{.totalTiming}}
    </div>
    <div>
        {{range $i, $v := .timings}}
            <div class="p-2 border-b-2 border-b-gray-200 odd:bg-gray-200">
                {{with $timing := (index $.timings (revIndex $i (len $.timings)))}}
                    {{with $tDuration := $timing.FormatDuration}}
                    <span>{{$timing.FormatRange}}</span>
                    <span> //// </span>
                    <span class="{{if (isNegative $tDuration)}}text-red-600{{else}}text-green-600{{end}}">{{$tDuration}}</span>
                    {{end}}
                {{end}}
            </div>
        {{else}}
            <div>You have no timings.</div>
        {{end}}
    </div>
</div>
